<html>
	<head>
		<title>Equipo docente</title>
	</head>
<body>
	<center>
		<h1>Aquí están los nombres del equipo docente:<h1>
	</center>
	<div>
		<center>
			<table>
				<tr>
					<th>Profesores de cátedra</th>
					<th>Auxiliares</th>
					<th>Ayudantes</th>
				</tr>
				<tr>
					<td>Ángel Jiménez Molina   </td>
					<td>Javiera Ovalle T.</td>
					<td>Victoria Arce A.</td>	
				</tr>
				<tr>
					<td>Iván Díaz Campos</td>
					<td>Jorge Pinto</td> 
					<td>Carlos Vega Hernández      </td>
				</tr>
				<tr>
					<td></td>
					<td>José Canto</td>
					<td>Catalina Martin D.</td>
				</tr>
				<tr>
					<td></td>
					<td>Macarena V. Osorio A.    </td>
					<td>Eduardo Valerio C.</td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td>Juan Gutiérrez T.</td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td>Matías Rojas</td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td>Nicolás Villa Contardo</td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td>Sebastián Donoso</td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td>Sofía Herrera</td>
				</tr>
				</table>
			</center>
	<a href="http://127.0.0.1:8000/pestaña/">Haz click aquí para saber más sobre mi gato</a>
	<br>
	<a href="http://127.0.0.1:8000">Index</a>

</body>