<html>
<head>
	<title>Mi Gato Señor Tomás</title>
</head>
<body>
	<h1>Mi Gato</h1>
	<div>
		<p
			align: center>
			Mi gato se llama Señor Tomás, nació algún día de Agosto, en el 2012. Lo adopté en Diciembre de ese año, estaba junto a dos hermanes en el colegio en el que yo iba, el recogía basura para alimentarles.
			Desde que llegó se despulguizó y comenzó a engordar, hoy en día está un poco guatón y cada vez más casero y regalón. 
			Odia a los perros, le gusta comer plantas, jugar con pompones y como a todos los gatos, dormir.
		</p>
		
	</div>
	<a href="http://127.0.0.1:8000/nombreseqdoc/">Equipo Docente TICS</a>#Ese es el link que le dio mi pc al correr el proyecto en la consola
	<br>
	<a href="http://127.0.0.1:8000">Index</a>#Ese es el link que le dio mi pc al correr el proyecto en la consola
</body>
</html>